<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body id="body-main">

    <header><% include ../partials/header.ejs %></header>

    <div class="container card" id="signup-container">
        <form class="justify-content-center text-center" action="/upload" method="POST" enctype="multipart/form-data" id="upload-form">
            <div class="form-group">
                <label for="exampleFormControlFile1">File Upload</label>
                <input type="file" name="picture_file" id="exampleFormControlFile1">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Title/Name</label>
                <input type="text" name="title_text" id="exampleFormControlInput1" placeholder="">
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea name="des_text" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Army</label>
                <select name="army_type" id="exampleFormControlSelect1">
                    <option>Cygnar</option>
                    <option>Protectorate Of Menoth</option>
                    <option>Khador</option>
                    <option>Cryx</option>
                    <option>Retribution Of Scyrah</option>
                    <option>Convergence Of Cyriss</option>
                    <option>Crucible Guard</option>
                    <option>Mercenaries</option>
                    <option>Trollblood</option>
                    <option>Circle Orboros</option>
                    <option>Legion Of Everblight</option>
                    <option>Skorne</option>
                    <option>Grymkin</option>
                    <option>Minions</option>
                </select>
            </div>

            <div class="form-group" id="submit-button">
                <label class="control-label"></label>
                <div class="">
                    <button type="submit" class="btn btn-primary">SUBMIT <i class="fas fa-sign-in-alt"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div style="color: white; text-align: center">
        <p><%= msg %></p>
    </div>

    </body>
</html>