<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
  <body id="body-main">
        <header>
                <% include ../partials/header %>
        </header>

        <div class="card">
            <h5 class="card-header">Factions</h5>
            <div class="card-body">
                <a href="#" class="btn btn-dark">Hordes</a>
                <a href="#" class="btn btn-dark">Other</a>
            </div>
        </div>

        <div id="container-card" class="container-fluid">
            <div class="row" id="boxes">
                <% cards.forEach(function(obj) { %>
                    <div class="col-sm d-flex">
                        <div class="card">
                            <img 
                                class="card-img-top"
                                src="data:image/png;base64, <%= obj.data.buffer %>"
                            </img>
                            <div class="card-body flex-fill">
                                <h5 class="card-title"><%= obj.title %></h5>
                                <p class="card-text"><%= obj.description %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

    </body>
</html>