  #body-main {
    background-image:url("faded-clock.jpg");
    background-size: cover;
  }

  #tab-container {
    background-color: white;
    margin-bottom: 10px;
  }

  #tab-content {
    padding-bottom: 15px;
  }

  #container-card {
      text-align: center;
  }

  #signup-container {
      padding-top: 20px; /* Pads the form from the top of the card */
      margin-top: 20px; /* Pads the card from the navbar */
  }

  #u-input {
      padding-bottom: 20px;
  }

  #submit-button {
      padding-top: 20px;
      justify-content: center;
  }

  #body-login {
    background-image:url("faded-clock.jpg");
    background-size: cover;
    text-align: center;
  }

  .card-img-top {
    height: 15rem;
    object-fit: cover;
  }